.logo {
  width: 250px;
  height: auto;
  flex-shrink: 0;
}

.score-container {
  text-align: left;
  color: #171714;
  background-color: #ffffff;
  padding: 1rem;
  line-height: 0;
  border-radius: 2rem;
}

.score-container p {
  font-size: 1.5rem;
  font-family: "DsFontShadow";
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1700px;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}
